:root {
  --color-black: #000;
  --color-white: #fff;
  --color-logo: #31436A;
  --color-main: #021747;
  --color-text: #6A7798;

  // отступы
  --grid-gap: 15px;

  --font-family: 'Montserrat', sans-serif;
  
}
